<h1>Train (sort of) random seed data</h1>
<p>This button when clicked will seed random training data based on the following parameters:</p>

<em>Between 500 and 1000 females</em>
<ul>
  	<li>height between 4' and 5'11''</li>
  	<li>weight between 115 and 180 lbs</li>
</ul>
<em>Between 500 and 1000 males</em>
<ul>
  	<li>height between 4' and 5'11''</li>
  	<li>weight between 115 and 180 lbs</li>
</ul>
<%= form_tag("/seed", method: "get") do %>
Would you like to train some random gender data?
<%= hidden_field(:seed, value: 'true') %>
<%= submit_tag("Yes, train it for me")%>
<%end%>

